<!-- Footer  -->
<div class="d-flex justify-content-between bg-dark text-white p-5 mt-5 " style="letter-spacing: 1px;">
    <div class="start" >
        <h5>Flat-No:504</h5>
        <h5>Address:Rajahmundry</h5>
        <h5>Postal Code:533103</h5>
        <h5>State:Maharashtra</h5>
        <h5><a href="#">Super Fast Delivery</a></h5>
    </div>
    <div class="middle">
        <img src="https://img.icons8.com/bubbles/2x/amazon.png" width="300px" alt="">
    </div>
    <div class="end">
        <h5>Email-id: Amazon@gmail.com</h5>
        <h5>Contact Number: 9990000000</h5>
        <h5>Managing Partner: FlipKart </h5>
        <h5> <a href="#">@Contact Us</a> </h5>
    </div>
    
</div>