<!-- Three children components - mobiles,books,telivisions -->
<!-- Pills to display components -->
<div>
    <ul class="nav nav-pills justify-content-evenly mt-3">
        <!--mobiles  -->
        <li class="nav-item"> 
        <a class="nav-link" routerLink="mobiles" routerLinkActive="active">Mobiles</a> 
        </li>
        <!--books  -->
        <li class="nav-item"> 
            <a class="nav-link" routerLink="books" routerLinkActive="active">Books</a> 
        </li>
        <!--telivisions-->
        <li class="nav-item"> 
            <a class="nav-link" routerLink="telivisions" routerLinkActive="active">Telivisions</a> 
        </li>
    </ul>
</div>

<!-- Dummy place holder -->
<div>
    <router-outlet></router-outlet>
</div>