<div class="container">
    <form class="mt-5 mx-auto text-white w-50">
        <h3 class="text-warning display-6 text-center">Registration Form</h3>
        <!-- Username -->
        <div>
            <label for="un" class="form-label">Username</label>
            <input type="text" name="username" id="un" class="form-control">
        </div>
        <!-- Password -->
        <div>
            <label for="pw" class="form-label">Password</label>
            <input type="password" name="password" id="pw" class="form-control">
        </div>
        <!-- Email id -->
        <div>
            <label for="mail" class="form-label">Email id</label>
            <input type="email" name="mail" id="mail" class="form-control">
        </div>
        <!-- Contact Number -->
        <div>
            <label for="mobile" class="form-label">Contact Number</label>
            <input type="number" name="mobile" id="mobile" class="form-control">
        </div>
        <!-- Submit button -->
        <button class="btn bg-success d-block mx-auto mt-3 text-white">Register</button>
    </form>
</div>
